    <div class="container">
      <div class="row">
        <div class="col s12"><h4>Dashboard</h4></div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <!-- Posts here -->
          {{> post post}}
        </div>
      </div>
    </div>