    <div class="container">
      <div class="row">

        <div class="col s12">
            <h4>Dashboard</h4>
        </div>

        <div class="col s12">
          <div class="col s6">
          <!-- form here -->
          <form class="col s4 login-form">
            <h3 class="center dark blue darken-4 white-text">ADD CLIENT</h3>
            <div class="row">
              <div class="input-field col s6">
                <label for="client-username">Username: </label>
                <input type="text" id="username" />
              </div>
              <div class="input-field col s6">
                <label for="client-email">Email: </label>
                <input type="email" id="email" />
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="client-password">Password: </label>
                <input type="password" id="password" />
              </div>
              <button id="create-button" class="col s12 z-depth-3 dark blue darken-4 btn-large">Create</button>
            </div>

          </form>
        </div>
          
            <div class="row">
              <a href="/upload" class="col s12 z-depth-3 dark blue darken-4 btn-large">Upload</a>
            </div>
            <div class="row">
              <div class="col s12">
            {{#each posts as |post|}}
            {{> post post}}
            {{/each}}
          </div>
              </div>
            



        </div>

    <script src="/js/createClient.js"></script>


      </div>
    </div>
      </div>


