<nav class='dark blue darken-4'>
  <div class='nav-wrapper'>
    <a href='#' class='brand-logo'>PHOTO REVIEWER</a>

    <!-- Dropdown Trigger -->
    <a class='dropdown-trigger right dark blue darken-4' href='#' data-target='dropdown1'>Username</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a href='#!'>Dashboard</a></li>
      <!-- <li><a href="#!">two</a></li> -->
      <li class='divider' tabindex='-1'></li>
      <li><a href='#!'>Log Out</a></li>
    </ul>
  </div>
</nav>

<div class='container'>
  <div class='row'>
    <div class='col s1'></div>
    <div class='col s11'><h5>Dashboard</h5></div>
  </div>
</div>

<div class='container grey darken-4'>
  <div class='row'></div>
  <div class='row center'>
    <div class='col s4'>
      <a href='/api/images/:filename'><img class='z-depth-3' src='./images/20160226_204911-1.jpg' alt='image' height='200px' />
        <h5>Post Tittle:</h5>
        <h5>Client Name:</h5>
      </a>
    </div>
    <div class='col s4'>
      <a href='/api/images/:filename'><img class='z-depth-3' src='./images/20160226_204911-1.jpg' alt='image' height='200px' />
        <h5>Post Tittle:</h5>
        <h5>Client Name:</h5>
      </a>
    </div>
    <div class='col s4'>
      <a href='/api/images/:filename'><img class='z-depth-3' src='./images/20160226_204911-1.jpg' alt='image' height='200px' />
        <h5>Post Tittle:</h5>
        <h5>Client Name:</h5>
      </a>
    </div>
    <div class='col s4'>
      <a href='/api/images/:filename'><img class='z-depth-3' src='./images/20160226_204911-1.jpg' alt='image' height='200px' />
        <h5>Post Tittle:</h5>
        <h5>Client Name:</h5>
      </a>
    </div>
    <div class='col s4'>
      <a href='/api/images/:filename'><img class='z-depth-3' src='./images/20160226_204911-1.jpg' alt='image' height='200px' />
        <h5>Post Tittle:</h5>
        <h5>Client Name:</h5>
      </a>
    </div>
    <div class='col s4'>
      <a href='/api/images/:filename'><img class='z-depth-3' src='./images/20160226_204911-1.jpg' alt='image' height='200px' />
        <h5>Post Tittle:</h5>
        <h5>Client Name:</h5>
      </a>
    </div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js'></script>
<script src='./javascript/get-images.js'></script>
<script src='./javascript/dropdown.js'></script>