<div class='row'>
  <h2>Test Uploader</h2>
  <button class='col s3 z-depth-3 waves-effect waves-light btn'>
    <a class='white-text' href='testUpload.html'>Upload an Image</a>
  </button>
</div>
<!-- <h1>Test Uploader</h1>

    <nav>
      <ul>
        <li><a href="testUpload.html">Upload an Image</a></li>
      </ul>
    </nav> -->

<main>

  <!--Stuff will go here-->
  <img src='/api/images/2755f1f980d3568597f161951deceaab' alt='test' />

</main>

<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js'></script>
<script src='/public/javascript/get-images.js'></script>