<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Photo Reviewer</title>

    <!-- css file -->
    <link rel='stylesheet' href='/public/css/style.css' />

    <!-- MATERIALIZE - Compiled and minified CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' />

    <!-- MATERIALIZE - Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>

  </head>

  <body>
    <div class='wrapper'>
      {{{body}}}
    </div>

    {{! JS related to logging out is only required if the user is logged in }}
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}

    <footer class='dark blue darken-4'>
      <div class='row'>
        <div class='col s12'>
          <h5 class='white-text'>Footer Content</h5>
        </div>
      </div>
    </footer>

  </body>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js'></script>
  <script src='./javascript/get-images.js'></script>
  <script src='./javascript/dropdown.js'></script>

</html>