<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Photo Reviewer</title>

    {{! icons }}
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' />

    <!-- MATERIALIZE - Compiled and minified CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' />

    <!-- MATERIALIZE - Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>

    <!-- css file -->
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body style='display:flex; min-height:100vh; flex-direction:column; background-color:rgb(200, 200, 200)'>
    <main>

      <nav class='dark blue darken-4'>
        <div class='nav-wrapper container'>
          <a href='/' class='brand-logo' style='font-size: 2vw'>PHOTO REVIEWER</a>

          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger right dark blue darken-4' style='font-size: 2vw' href='#' data-target='dropdown1'>{{username}}</a>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <!-- <li><a href="#!">two</a></li> -->
            <li class='divider' tabindex='-1'></li>
            <li><a href='#' class='white-text dark blue darken-4 logout-btn'>Log Out</a></li>
          </ul>
        </div>
      </nav>

      <div class='wrapper'>
        {{{body}}}
      </div>
    </main>

    <script src='/js/logout.js'></script>

    <footer class='dark blue darken-4'>
      <div class='footer-copyright'>
        <div class='container' style='font-size: 1.5vw'>
          Team Eight is Gr8
          <a class='grey-text text-lighten-4 right' href='https://fomo-photo-reviewer.herokuapp.com/' target='_blank'> - Heroku</a>
          <a class='grey-text text-lighten-4 right' href='https://github.com/Meshtatsuo/photo-reviewer' target='_blank'>GitHub - </a>
        </div>
      </div>
    </footer>

  </body>

  <script src='/js/dropdown.js'></script>

</html>