<div class="container">
  <div class="row">
    <div class="col s4"></div>
    <form class="col s4 login-form">
      <h3 class="center dark blue darken-4 white-text" style='font-size: 2vw; padding: 10px'>LOGIN</h3>
      <div class="input-field">
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
      </div>
      <div class="input-field">
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button id="loginBtn" class="col s12 z-depth-3 dark blue darken-4 btn-large" type=" submit" style='font-size: 2vw'>login</button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col s4"></div>
    <button id="goTosignupBtn" class="col s4 z-depth-3 dark blue darken-4 btn-large type=" submit"><a class="white-text" style='font-size: 2vw' href="/signup">signup</a></button>
  </div>

</div>

<script src='/js/login.js'></script>