<div class="row">
      <h2>Test Uploader</h2>
    </div>
    

    <main>
      <div class="row">
        <div class="input-field col s4 center-align">
          <form id="uploadImage">

            <div class="input-field">
              <input class="col s12 z-depth-3 waves-effect waves-light btn" id="image-file" filename='image' type="file" accept="image/*"></input>
              <input placeholder="Alt Text" type="text" id="alt_text" name="altText">
            </div>
            
            <!-- <label for="altText">Alt Text:</label> -->
            <input placeholder="Description" type="text" id="description" name="description">
            <input class="col s12 z-depth-3 waves-effect waves-light btn" type="submit">
            <!-- <label for="description">Description: </label> -->

          </form>
        </div>
      </div>
    </main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>
<script src="/public/javascript/upload-file.js"></script>