/* Styles for the views */

/* Styling for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.post-card {
  margin: 4%;
}

.comment-card {
  margin: 2%;
}

.btn-margin {
  margin: 2%;
}

select {
  display: block;
}

img {
  padding: 1%;
}

.thumbnail {
  max-height: 250px;
  object-fit: none;


}

/* Remove text decoration from anchor tags */
a {
  text-decoration: none;
}

/* navbar background color */
.nav {
  background-color: #ffffff !important;
}

/* scalable images */
img {
  width: 100%;
  height: auto;
}

/* font for post tittle and client name */
h5 {
  font-size: 1vw;
}